h1 {
  font-weight: lighter;
}

body {
  font-family: helvetica ;
}

h2 {
  font-size: 1em;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: rgb(30,30,30);
}

.container {
  margin-left: 30px;
}

// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
